body{
  background-color: rgb(234, 194, 212);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}  

h2{
  font-size: 3rem;
} 

button{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: green;
}
.add-button:hover{
  background-color: greenyellow;
}

.delete-button{
  background-color: rgb(239, 47, 50);
}
.delete-button:hover{
  background-color: rgb(247, 63, 2);
}

.move-button-up{
  background-color: rgb(47, 98, 239);
}
.move-button-up:hover {
  background-color: rgb(64, 97, 189);
}

.move-button-down{
  background-color: rgb(47, 98, 239);
}
.move-button-down:hover {
  background-color: rgb(64, 97, 189);
}

  input[type="text"] {
  font-size: 1rem;
  padding: 10px;
  border: 2px solid rgb(2, 2, 2);
  border-radius: 5px;
  color: rgb(13, 13, 13);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(215, 152, 173);
  margin-bottom: 10px;
  border: 3px solid rgb(230, 196, 229);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.delete-button, .move-button-down, .move-button-up{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
  border-radius: 5px;
}

.buttons {
  flex: 1;
}